

.orange {
	color: white;
	background-color: orange;
}

.boss {
	text-align: center;
}

.light-grey {
	background-color: lightgrey;
}

.bigone {
	
	text-align: center;
	margin-top: 5rem;

}

.little-one {
	padding: 10px 3px;
	border-right: solid 1px grey;
	border-bottom: solid 1px grey;

}

.grey {
	color: white;
	background-color: grey;
	text-align: right;

